.main-contain > * {
  margin-top: 1em;
  margin-bottom: 1em;
}
img {
  height: 24px;
  width: 24px;
}

.playerContainer {
  width: 100vw;
  height: 20vh;
}

#playerCard,
#cpuCard {
  width: 14.5rem;
  border-color: darkcyan;
  margin: 20px;
}
.rpsTitle {
  height: 10vh;
  align-items: center;
  width: 90vw;
  justify-content: center;
}

.btn {
  width: 7rem;
}

.btnGroup {
  width: 100vw;
  align-self: center;
  justify-content: center;
  gap: 0.5em;
}

.scoreCard {
  width: 31rem;
  align-self: center;
}
